<div class="modal-background">
  <div class="modal-dialog">
    <div class="modal-heading">
      <h1>You completed the game!!!</h1>
    </div>
    <div class="modal-image">
      <img src="assets/img/mario-win.jpg" alt="">
    </div>
    <div class="modal-text">
      You completed the game in <h1>{{ turns }}</h1> turns, with a score of <h1>{{ score }}</h1>
    </div>


    <ng-content></ng-content>


    <!--    todo dit naar eigen component ivm code repetition in ts file -->
    <div class="modal-button">
      <button
        class="button"
        (click)="onNewGame()"
        type="button">
        Play again
      </button>
    </div>

    <!-- todo einde newGameButton component -->


  </div>
</div>
