<app-page>
  <app-modal *ngIf="gameFinished" [imageAlt]="imageAlt" [imageSource]="imageSource">
    <h1 slot="title">You completed the game!!!</h1>
    You completed the game in <span class="highlight">{{ turn }}</span> turns,
    with a score of <span class="highlight">{{ score }}</span>
    <app-button (click)="onNewGame()" slot="button">
      new game
    </app-button>
  </app-modal>
  <app-score
    [score]="score"
    [turns]="turn"
    [gameFinished]="gameFinished">
    <app-button (click)="onNewGame()">
      new game
    </app-button>
  </app-score>
  <app-card-grid>
    <app-card
      *ngFor="let image of images; index as index"
      [open]="openImageIdList.includes(index)"
      [image]="image"
      (selected)="onSelectCard(image, index)">
    </app-card>
  </app-card-grid>
</app-page>
