<div class="game-container">
  <app-modal
    *ngIf="gameFinished"
    [score]="score"
    [turns]="turn">
    <app-new-game-button
      (newGame)="resetGame()">
    </app-new-game-button>
  </app-modal>
  <app-score
    [score]="score"
    [turns]="turn"
    [gameFinished]="gameFinished">
    <app-new-game-button
      (newGame)="resetGame()">
    </app-new-game-button>
  </app-score>
  <app-card-grid>
    <app-card
      *ngFor="let image of images; index as index"
      [open]="openImageIdList.includes(index)"
      [image]="image"
      (selected)="onSelectCard(image, index)">
    </app-card>
  </app-card-grid>
</div>
